*{
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

a{
    text-decoration: none;
}

body{
    font-size: 0;
    background: url("../Images/bg.png") repeat;
    overflow: hidden;
}

ul li{
    display: inline-block;
}

#central-container{
    display: inline-block;
    width: 100%;
    height: 100vh;
    position: relative;
}

.mainId{
    opacity: 1;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -ms-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#central-container .ids{
    opacity: 0;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -ms-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ids img{
    position: absolute;
}

#central-container .active-Id{
    opacity: 1;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -ms-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

.Id1 img{
    width: 73% !important;
    height: 70% !important;
    right: 5% !important;
    top: 4% !important;
}

.Id2 img{
    width: 25% !important;
    height: 66% !important;
    /* position: absolute; */
    right: 17% !important;
    top: 14% !important;
}


.Id3 img{
    width: 35% !important;
    height: 35% !important;
    right: 10% !important;
    top: 40% !important;
}

.Id4 img{
    width: 25% !important;
    height: 80% !important;
    right: 10% !important;
    /* bottom: 10%!important; */
    top: 14% !important;
}

.Id5 img{
    width: 35% !important;
    height: 80% !important;
    right: 12% !important;
    top: 5% !important;
}

.Id6 img{
    width: 30% !important;
    height: 85% !important;
    right: 23% !important;
    top: 3% !important;
}

.Id7 img{
    width: 55% !important;
    height: 70% !important;
    right: 8% !important;
    top: 10% !important;
}

.Id8 img{
    width: 70% !important;
    height: 60% !important;
    right: 10% !important;
    top: 10% !important;
}

.Id9 img{
    height: 90%;
    right: 10%;
}

.Id10 img{
    width: 48% !important;
    height: 69% !important;
    right: 14% !important;
    top: 8% !important;
}

#central-container .mainId img{
    position: absolute;
    top: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
}

#text{
    width: 100%;
    height: 100%;
}

#central-container img.prev-arrow,
#central-container img.text{
    left: 0;
}

#central-container img.right{
    right: 0;
}

.circle-play{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.circle{
    width: 80px;
    height: 80px;
    border: 3px solid #AE2129;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.play{
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #AE2129;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-30%, -50%);
    -moz-transform: translate(-30%, -50%);
    -ms-transform: translate(-30%, -50%);
    -o-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
}


.player-holder{
    position: absolute;
    bottom: 7vh;
    padding-left: 5%;
    display: inline-block;
    width: 95%;
    left: 0;
}

#audio-title{
    position: absolute;
    bottom: 34vh;
    padding-left: 5%;
}

.time-counter{
    font-family: Arial,sans-serif;
    font-size: 1rem;
    color: #333333;
    opacity: 0;
}

.title{
    font-family: "INDIGO",sans-serif;
    display: inline-block;
    font-size: 5.25rem;
    color: #AB2424;
}

.counter{
    display: inline-block;
    font-family: "INDIGO", sans-serif;
    font-size: 3.12500rem;
    color: #727375;
    vertical-align: middle;
    width: 130px;
}

.currIndex{
    color: #333333;
}

.progress{
    display: none;
    cursor: pointer;
    height: 4px;
    overflow: hidden;
    position: relative;
    width: 350px;
    background-color: #B3B3B3;
    vertical-align: middle;
    margin: 0 30px;
}

.progress span{
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 0;
}

.controll-buttons{
    display: none;
    vertical-align: middle;
}

.controll-buttons span{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 10px;
    color: #727375;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
    transition: color 500ms;
    background: transparent;
}

.controll-buttons span:hover{
    color: #333333;
}

.control:hover .left{
    border-left-color: #333333 !important;
}

.control:hover .right{
    border-left-color: #333333 !important;
}

.controllers{
    text-align: left;
}

.prev-arrow {
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 15px;
    width: 15px;
    transform: rotate(135deg);
}


.next-arrow {
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 15px;
    width: 15px;
    transform: rotate(-45deg);
}

.play-button{
    background: transparent;
    border: none;
    width: 30px;
    text-align: center;
}

.play-button span{
    display: inline-block;
    width: 3px;
    height: 24px;
    background-color: #727375;
    margin: 0 2px;
}

.play-button .leftSpan{
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -ms-transition: width 500ms;
    -o-transition: width 500ms;
    transition: width 500ms;
}

.play-button .rightSpan{
    -webkit-transition: width 500ms;
    -moz-transition: width 500ms;
    -ms-transition: width 500ms;
    -o-transition: width 500ms;
    transition: width 500ms;
}

.button:hover{
    color: #333333;
}

.rightSpan{
    margin-left: 5px !important;
}

.play-button:hover span{
    background-color: #333333;
}

.playerButtonLeft{
    border-bottom: 10px solid #333333;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    height: 0;
    width: 20px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: transparent !important;
    color: transparent !important;
}

.playerButtonLeft:hover{
    background-color: transparent;
}

.playerButtonRight{
    width: 0 !important;
    height: 0 !important;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #333;
    background-color: transparent !important;
    color: transparent !important;
}

.sound-controll{
    display: none;
    vertical-align: middle;
    margin-left: 20px;
    position: relative;
}

.sound-controll {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("../Images/speaker.png") no-repeat center transparent;
    background-size: 100%;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 5%;
}

.muteSound .soundLine{
    display: inline-block;
    width: 2px;
    height: 0;
    background: #333333;
    position: absolute;
    top: -10px;
    right: 17px;
    transform: rotate(45deg);
    -webkit-transition: height 250ms;
    -moz-transition: height 250ms;
    -ms-transition: height 250ms;
    -o-transition: height 250ms;
    transition: height 250ms;
}


input[type=range] {
    -webkit-appearance: none;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    left: -30px;
    bottom: 75px;
    cursor: pointer;
    opacity: 0;
    width: 0;
    /*-webkit-transition: opacity 200ms;*/
    /*-moz-transition: opacity 200ms;*/
    /*-ms-transition: opacity 200ms;*/
    /*-o-transition: opacity 200ms;*/
    /*transition: opacity 200ms;*/
}
input[type=range]::-webkit-slider-runnable-track {
    width: 90px;
    height: 5px;
    background: #B3B3B3;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333;
    margin-top: -5px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #B3B3B3;
}

input[type=range]::-moz-range-track {
    width: 90px;
    height: 5px;
    background: #B3B3B3;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 90px;
    height: 5px;

    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;

    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #B3B3B3;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #333333;
}
input[type=range]:focus::-ms-fill-lower {
    background: #B3B3B3;
}
input[type=range]:focus::-ms-fill-upper {
    background: #B3B3B3;
}

.controll-buttons span.left{
    margin-right: 0!important;
}

.control{
    width: 40px;
    text-align: center;
}

.control,
.control .left,
.control .right,
.control:before {
    display: inline-block;
    vertical-align: middle;
    transition: border 0.4s, width 0.4s, height 0.4s, margin 0.4s;
    transition-tiomig-function: cubic-bezier(1, 0, 0, 1);
}
.control:before {
    content: "";
    height: 112px;
}
.control.pause .left,
.control.pause .right {
    margin: 0 !important;
    border-left: 5px solid #727375;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    height: 30px;
}
.control.pause .left {
    border-right: 5px solid transparent;
}
.control.play-pause .left {
    border-left: 11px solid #727375;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 0 solid transparent;
    height: 14px;
}
.control.play-pause .right {
    margin: 0;
    border-left: 11px solid #727375;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    height: 0;
}



canvas{
    position: absolute;
    visibility: visible;
    top: -79px;
    left: -10%;
    width: 125%;
    height: 120%;
}

.brushStroke{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}


/* .read-article{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    right: 5%;
    top: 50%;
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
} */
.read-article{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.read-article .arrow-right{
    width: 100px;
    height: 10px;
    background: url("../Images/Capture.PNG") no-repeat center;
    background-size: 80%;
}

.read-article p,
.read-article span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

.read-article p{
    font-family: "INDIGO", sans-serif;
    color: #333333;
    font-size: 1.5rem;
}

.extra-content{
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;
}

.share-social{
    display: block;
    margin-top: 45px;
    width: 40px;
    position: relative;
}

.share-social .fb-share-button{
    opacity: 0;
}

.share-social img{
    width: 35px;
    height: 35px;
}

.playlist{
/*     position: relative; */
}

.playlistButton{
    background: transparent;
    border: none;
/*     width: 50%; */
    cursor: pointer;
}

.playlistButton span{
    display: inline-block;
    width: 40px;
    height: 5px;
    display: block;
    margin-bottom: 16px;
    background: #333333;
}

/*.audio-files{*/
    /*display: none;*/
    /*position: absolute;*/
    /*bottom: -36px;*/
    /*right: 0;*/
    /*width: 300px;*/
/*}*/

/*.audio-files p{*/
    /*cursor: pointer;*/
    /*font-size: 20px;*/
    /*font-family: "INDIGO", sans-serif;*/
    /*color: #333333;*/
/*}*/


.subtitle{
    font-family: "INDIGO", sans-serif !important;
    font-size: 5rem !important;
    color: #3B4960 !important;
}

.fb-share-button{
    display: inline-block !important;
    position: absolute !important;
    top: 0;
    width: 40px;
    height: 40px;
    left: 0;
}

.share-text{
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
    left: -10px;
    bottom: -50px;
}

.share-text p{
    opacity: 0;
    -webkit-transition: opacity 250ms ease-in-out;
    -moz-transition: opacity 250ms ease-in-out;
    -ms-transition: opacity 250ms ease-in-out;
    -o-transition: opacity 250ms ease-in-out;
    transition: opacity 250ms ease-in-out;
    font-family: "INDIGO", sans-serif;
    font-size: 23px;
    color: #333333;
}

.sound-circles{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    margin-left: -3px;
}

.levels{
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.level1{
    display: inline-block;
    width: 5px;
    height: 22px;
    position: absolute;
    transform: rotate(5deg);
    top: 12px;
    left: 0;
    z-index: 1000000;
}

.level1 .inside-circle{
    width: 26px;
    height: 26px;
    display: inline-block;
    border: 2px solid #333333;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.level2{
    width: 7px;
    height: 30px;
    position: absolute;
    top: 11px;
    margin-left: 5px;
    transform: rotate(1deg);
    z-index: 100000;
}

.level2 .inside-circle{
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 2px solid #333333;
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.level3{
    display: inline-block;
    width: 13px;
    height: 33px;
    position: absolute;
    left: 7px;
    top: 8px;
    transform: rotate(11deg);
    z-index: 10000;
}

.level3 .inside-circle{
    display: inline-block;
    width: 30px;
    height: 38px;
    position: absolute;
    right: 0;
    border: 2px solid #727375;
    border-radius: 50%;
}

.levels:hover .inside-circle{
    border: 2px solid #333333;
}